
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&display=swap');

    body
        {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            margin: 0px;background-color: rgb(177, 70, 70);
        }
        .tabuleiro
        {
            width: 600px;
            height: 600px;
            background-image: linear-gradient(150deg,lightskyblue,blue);
            border-color: black;
            border-style: solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
        .linha 
        {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: row; /*em linha*/
            justify-content: space-around; /*mesma distancia*/
        }
        .celula
        {
            cursor: pointer;
            width: 150px;
            height: 150px;
            background-color: aliceblue;
            box-shadow: 5px 5px black;
            font-size: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            font-family: 'Indie Flower', cursive;

        }